<h1 class="current-category"><%= params[:category] %></h1>

<% if @books.count == 0 %>
	<h1>Il n'y a aucun livre dans cette catégorie pour le moment !! </h1>
<%  else  %>
	<div class="row">
		<% @books.each do |book| %>
			<div class="col-md-3">
				<a href="/books/<%= book.id %>">
					<%= image_tag book.book_img.url(:book_index), class: "book" %>
				</a>
			</div>
		<% end %>
	</div>
<% end %>